body {
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  gap: 10px;
  margin: 0;
  height: 100vh; /* 100% of viewport height */
}

.header {
  margin-top: -19px;
  font-size: 35px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #333333;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  max-width: 1100px;
  margin: 0 auto;
}

tr {
  display: flex;
  height: 100%;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: 175px;
  padding: 10px 30px;
  border: 1px solid #333333;
  border-radius: 5px;
}

.cell {
  border: 0px solid black;
  background-color: white;
  width: 100%;
  height: 100%;
}

.whitecell {
  background-color: white;
}

.blackcell {
  background-color: #333333;
}

.leftSide {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  font-family: 'Roboto', sans-serif;
  background-color: #ededed;
  display: flex;
  height: 500px;
  width: 500px;
}

board {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  min-height: 70px;
  text-align: center;
}