body {
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  gap: 10px;
}

.header {
  margin-top: -15px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #333333;
}

.main {
  display: flex;
  justify-content: center;
  gap: 80px;
  max-width: 1100px;
  margin: 0 auto;
}

tr {
  display: flex;
}

button {
  font-family: 'Roboto', sans-serif;
}

.cell {
  /* width: 100%;
  height: 100%; */
  width: 30px;
  height: 30px;
}

.whitecell {
  background-color: white;
}

.blackcell {
  background-color: #333333;
}

.leftSide {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container {
  font-family: 'Roboto', sans-serif;
  background-color: #ededed;
  display: flex;
  height: 800px;
  width: 800px;
}

.footer {
  
}